.chat-list{
  background-color: #fff;
  >div{
    cursor: pointer;
   &:hover{
    background-color: #f0f2f5;
   }
  }
}
.border-botom-gray{
  border-bottom: 1px solid #ccc;
}
.msg-date{
  font-size: 0.7rem;
  &.unread{
     color: #f0f2f5;
     font-weight: 500;
  }
}
.unread-message-badge{
  background-color: #f0f2f5;
  color: #fff;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border-bottom-gray{
  border-bottom: 1px solid #ccc;
}

